<h1>Listing articles</h1>

<%= link_to 'New article', new_article_path %>

<!--
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <button class="btn btn-sm">small button</button>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>

  <% end %>
</table>-->

<div class="columns">
<% @articles = Article.all %>
<% @articles.each do |article| %>
  <div class="column gridalax col-4">
    <%= link_to article, controller: 'articles' do %>
    <div class="parallax">
      <div class="parallax-top-left"></div>
      <div class="parallax-top-right"></div>
      <div class="parallax-bottom-left"></div>
      <div class="parallax-bottom-right"></div>
      <div class="parallax-content">
        <div class="parallax-front">
          <h2><%= article.title %></h2>
        </div>
        <div class="parallax-back">
          <%= image_tag(article.post_image_url, class: "img-responsive rounded" ) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
</div>
